$blue: #1E2632;
$blue-dark :#02060B;
$blue-light: #293240;

$red: #EA1C22;
$red-dark: #C70E13;
$red-light: #F73137;

$white: #FCFAFA;
$white-dark: #FAF5F5;
$white-light: #FFFFFF;

$gray: #DAD7D7;
$gray-dark: #B7AEAE;
$gray-light: #EDEDED;
